In [2]:
'''
Cleaning and merging yield curve, yield curve velocity, yield curve acceleration, 
PPI, PPI velocity, PPI acceleration, and Real GDP.
Initially I will define the start of a recession when Real GDP falls for 2 consecutive quarters,
and the end of recession when GDP rises for 2 consecutive quarters.
'''

'\nCleaning and merging yield curve, yield curve velocity, yield curve acceleration, \nPPI, PPI velocity, PPI acceleration, and Real GDP.\nInitially I will define the start of a recession when Real GDP falls for 2 consecutive quarters,\nand the end of recession when GDP rises for 2 consecutive quarters.\n'

In [3]:
import pandas as pd
from IPython.display import display

In [15]:
# Read in the data sets
gdp = pd.read_csv(r"C:\Users\Edmund\OMSA\MGT6203\group project\Team36_group_project\Data\Real_GDP_GDPC1.csv")
yc = pd.read_csv(r"C:\Users\Edmund\OMSA\MGT6203\group project\Team36_group_project\Data\yield_curve_T10Y2Y.csv")
# Using only seasonally adjusted PPI data.
PPI = pd.read_csv(r"C:\Users\Edmund\OMSA\MGT6203\group project\Team36_group_project\Data\PPI_Commodity_Intermediate_Demand_Unprocessed_Goods_seasonally_adjusted.csv")
# show format of the data
display(gdp.head(5))
display(yc.head(5))
display(PPI.head(5))
# What data type do columns have?
# print(gdp['DATE'].dtype)
# print(gdp['GDPC1'].dtype)
# Convert 'DATE' columns to datetime type
gdp['DATE'] = pd.to_datetime(gdp['DATE'], format='%Y-%m-%d')
PPI['DATE'] = pd.to_datetime(PPI['DATE'], format='%Y-%m-%d')
yc['DATE'] = pd.to_datetime(yc['DATE'], format='%Y-%m-%d')
# get subset of PPI and GDP in the same date range as yield curve
gdp_76_plus = gdp[gdp['DATE'] >= yc['DATE'].loc[0]]
PPI_76_plus = PPI[PPI['DATE'] >= yc['DATE'].loc[0]]
display(gdp_76_plus.head(5))
display(yc.head(5))
display(PPI_76_plus.head(5))

# plot everything in log scale:


# Generate yc velocity and acceleration

# Generate PPI velocity and acceleration

# display(gdp.head(5))
# print(gdp['DATE'].dtype)
# print(gdp['GDPC1'].dtype)
# # create velocity and acceleration for 
# print(gdp['DATE'].loc[0])
# print(type(gdp['DATE'].loc[0]))

         DATE     GDPC1
0  1947-01-01  2034.450
1  1947-04-01  2029.024
2  1947-07-01  2024.834
3  1947-10-01  2056.508
4  1948-01-01  2087.442

         DATE T10Y2Y
0  1976-06-01   0.68
1  1976-06-02   0.71
2  1976-06-03   0.70
3  1976-06-04   0.77
4  1976-06-07   0.79

         DATE  WPSID62
0  1947-04-01     30.7
1  1947-05-01     30.4
2  1947-06-01     30.6
3  1947-07-01     31.0
4  1947-08-01     31.6

          DATE     GDPC1
118 1976-07-01  5969.089
119 1976-10-01  6012.356
120 1977-01-01  6083.391
121 1977-04-01  6201.659
122 1977-07-01  6313.559

        DATE T10Y2Y
0 1976-06-01   0.68
1 1976-06-02   0.71
2 1976-06-03   0.70
3 1976-06-04   0.77
4 1976-06-07   0.79

          DATE  WPSID62
350 1976-06-01     65.2
351 1976-07-01     64.8
352 1976-08-01     63.6
353 1976-09-01     63.4
354 1976-10-01     63.0