In [ ]:
# Install yahoo_fin
pip install yahoo_fin

In [ ]:
pip install requests_html

In [ ]:
from yahoo_fin.stock_info import *

In [ ]:
# get all historical price data
nasdaq_price = get_data('^IXIC', start_date = None, end_date = None, index_as_date = True, interval = '1mo')

print(type(nasdaq_price)) # Is it a dataframe?
print(nasdaq_price.shape) # what is the shape?
display(nasdaq_price.tail(20)) #

In [ ]:
# get all historical price data
dow_price = get_data('^DJI', start_date = None, end_date = None, index_as_date = True, interval = '1mo')

print(type(dow_price)) # Is it a dataframe?
print(dow_price.shape) # what is the shape?
display(dow_price.head(20)) #

In [ ]:
# get all historical price data
sp500_price = get_data('^GSPC', start_date = None, end_date = None, index_as_date = True, interval = '1mo')

print(type(sp500_price)) # Is it a dataframe?
print(sp500_price.shape) # what is the shape?
display(sp500_price.head(20)) #

In [4]:
#Install yfinance
pip install yfinance

import yfinance as yf

In [29]:
nasdaq= yf.Ticker('^IXIC')

n_his = nasdaq.history(period="max", interval="3mo", start='1985-01-01')

# history(self, period="1mo", interval="1d",
#             start=None, end=None, prepost=False, actions=True,
#             auto_adjust=True, back_adjust=False,
#             proxy=None, rounding=False, tz=None, timeout=None, **kwargs):

display(n_his.head(20))
display(n_his.tail(20))

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1985-01-01 00:00:00-05:00,247.100006,289.299988,245.800003,279.200012,5136220000,0.0,0.0
1985-04-01 00:00:00-05:00,279.500000,296.200012,276.200012,296.200012,4762300000,0.0,0.0
1985-07-01 00:00:00-04:00,295.899994,307.899994,279.500000,280.299988,4740430000,0.0,0.0
1985-10-01 00:00:00-04:00,280.600006,325.600006,276.600006,324.899994,5911240000,0.0,0.0
1986-01-01 00:00:00-05:00,325.000000,374.700012,322.100006,374.700012,7352250000,0.0,0.0
1986-04-01 00:00:00-05:00,375.799988,405.500000,368.000000,405.500000,7796320000,0.0,0.0
1986-07-01 00:00:00-04:00,407.000000,411.299988,342.299988,350.700012,6715760000,0.0,0.0
1986-10-01 00:00:00-04:00,352.500000,364.700012,347.000000,348.799988,6836550000,0.0,0.0
1987-01-01 00:00:00-05:00,351.299988,440.000000,348.799988,430.100006,9519320000,0.0,0.0
1987-04-01 00:00:00-05:00,426.299988,439.200012,404.500000,424.700012,9085600000,0.0,0.0
1987-07-01 00:00:00-04:00,424.500000,456.299988,423.700012,444.299988,9608400000,0.0,0.0
1987-10-01 00:00:00-04:00,446.200012,453.700012,288.500000,330.500000,9515260000,0.0,0.0
1988-01-01 00:00:00-05:00,335.100006,382.600006,329.000000,374.600006,8112990000,0.0,0.0
1988-04-01 00:00:00-05:00,373.700012,394.799988,362.399994,394.700012,8065620000,0.0,0.0
1988-07-01 00:00:00-04:00,394.200012,397.500000,372.200012,387.700012,7544730000,0.0,0.0
1988-10-01 00:00:00-04:00,384.700012,388.899994,364.000000,381.399994,7269120000,0.0,0.0
1989-01-01 00:00:00-05:00,378.899994,410.100006,376.899994,406.700012,8112730000,0.0,0.0
1989-04-01 00:00:00-05:00,407.000000,454.600006,406.500000,435.299988,8751450000,0.0,0.0
1989-07-01 00:00:00-04:00,434.500000,474.600006,434.399994,472.899994,8179520000,0.0,0.0
1989-10-01 00:00:00-04:00,472.799988,487.500000,431.799988,454.799988,8470390000,0.0,0.0

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-10-01 00:00:00-04:00,8091.500000,8107.379883,6190.169922,6635.279785,160016490000,0.0,0.0
2019-01-01 00:00:00-05:00,6506.910156,7850.109863,6457.129883,7729.319824,141793950000,0.0,0.0
2019-04-01 00:00:00-04:00,7800.240234,8176.080078,7292.220215,8006.240234,136197430000,0.0,0.0
2019-07-01 00:00:00-04:00,8145.850098,8339.639648,7662.899902,7999.339844,130890150000,0.0,0.0
2019-10-01 00:00:00-04:00,8026.830078,9052.000000,7700.000000,8972.599609,132190880000,0.0,0.0
2020-01-01 00:00:00-05:00,9039.459961,9838.370117,6631.419922,7700.100098,203901310000,0.0,0.0
2020-04-01 00:00:00-04:00,7459.500000,10221.849609,7288.109863,10058.769531,272631660000,0.0,0.0
2020-07-01 00:00:00-04:00,10063.669922,12074.059570,10048.040039,11167.509766,256547330000,0.0,0.0
2020-10-01 00:00:00-04:00,11291.990234,12973.330078,10822.570312,12888.280273,282205040000,0.0,0.0
2021-01-01 00:00:00-05:00,12958.519531,14175.120117,12397.049805,13246.870117,416925090000,0.0,0.0
2021-04-01 00:00:00-04:00,13414.320312,14535.969727,13002.540039,14503.950195,289383910000,0.0,0.0
2021-07-01 00:00:00-04:00,14493.690430,15403.440430,14178.660156,14448.580078,272067110000,0.0,0.0
2021-10-01 00:00:00-04:00,14494.929688,16212.230469,14181.690430,15644.969727,313071340000,0.0,0.0
2022-01-01 00:00:00-05:00,15732.500000,15852.139648,12555.349609,14220.519531,320731450000,0.0,0.0
2022-04-01 00:00:00-04:00,14269.530273,14534.379883,10565.139648,11028.740234,321922580000,0.0,0.0
2022-07-01 00:00:00-04:00,11006.830078,13181.089844,10572.330078,10575.620117,303549930000,0.0,0.0
2022-10-01 00:00:00-04:00,10659.009766,11571.639648,10088.830078,10466.480469,299872180000,0.0,0.0
2023-01-01 00:00:00-05:00,10562.059570,12269.549805,10265.040039,12221.910156,326700530000,0.0,0.0
2023-04-01 00:00:00-04:00,12146.089844,13864.059570,11798.769531,13787.919922,299450140000,0.0,0.0
2023-07-01 00:00:00-04:00,13798.700195,14446.549805,12963.160156,13201.276367,296810539000,0.0,0.0

In [30]:
dow= yf.Ticker('^DJI')

d_his = nasdaq.history(period="max", interval="3mo")

# history(self, period="1mo", interval="1d",
#             start=None, end=None, prepost=False, actions=True,
#             auto_adjust=True, back_adjust=False,
#             proxy=None, rounding=False, tz=None, timeout=None, **kwargs):

display(d_his.head(20))
display(d_his.tail(20))

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1984-11-01 00:00:00-05:00,247.100006,278.899994,245.800003,278.700012,1782060000,0.0,0.0
1985-02-01 00:00:00-05:00,277.899994,289.299988,275.600006,280.600006,4860610000,0.0,0.0
1985-05-01 00:00:00-04:00,280.500000,307.899994,278.799988,301.299988,5025290000,0.0,0.0
1985-08-01 00:00:00-04:00,302.600006,304.600006,276.600006,292.500000,4829330000,0.0,0.0
1985-11-01 00:00:00-05:00,293.000000,335.799988,292.500000,335.799988,6463750000,0.0,0.0
1986-02-01 00:00:00-05:00,336.100006,393.000000,335.799988,383.200012,7756000000,0.0,0.0
1986-05-01 00:00:00-04:00,383.200012,411.299988,369.100006,371.399994,7392760000,0.0,0.0
1986-08-01 00:00:00-04:00,372.500000,384.000000,342.299988,360.799988,6457610000,0.0,0.0
1986-11-01 00:00:00-05:00,361.000000,396.200012,347.000000,392.100006,7868280000,0.0,0.0
1987-02-01 00:00:00-05:00,393.799988,440.000000,392.000000,417.799988,9361700000,0.0,0.0
1987-05-01 00:00:00-04:00,418.600006,434.899994,404.500000,434.899994,9438100000,0.0,0.0
1987-08-01 00:00:00-04:00,433.299988,456.299988,288.500000,323.299988,10303100000,0.0,0.0
1987-11-01 00:00:00-05:00,325.399994,349.700012,291.899994,344.700012,7906300000,0.0,0.0
1988-02-01 00:00:00-05:00,346.200012,384.299988,343.500000,379.200012,8149990000,0.0,0.0
1988-05-01 00:00:00-04:00,379.000000,397.500000,362.399994,387.299988,8173010000,0.0,0.0
1988-08-01 00:00:00-04:00,387.600006,389.500000,372.200012,382.500000,7431630000,0.0,0.0
1988-11-01 00:00:00-05:00,382.700012,401.399994,364.000000,401.299988,7488600000,0.0,0.0
1989-02-01 00:00:00-05:00,401.799988,427.600006,397.799988,427.600006,8058600000,0.0,0.0
1989-05-01 00:00:00-04:00,425.899994,454.600006,425.799988,453.799988,8589010000,0.0,0.0
1989-08-01 00:00:00-04:00,455.200012,487.500000,447.100006,455.600006,8840550000,0.0,0.0

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-11-01 00:00:00-04:00,7327.819824,7572.930176,6190.169922,7281.740234,147669010000,0.0,0.0
2019-02-01 00:00:00-05:00,7256.370117,8176.080078,7225.140137,8095.390137,135804870000,0.0,0.0
2019-05-01 00:00:00-04:00,8132.930176,8339.639648,7292.220215,8175.419922,135490390000,0.0,0.0
2019-08-01 00:00:00-04:00,8190.560059,8335.559570,7662.899902,8292.360352,132247320000,0.0,0.0
2019-11-01 00:00:00-04:00,8335.049805,9451.429688,8326.559570,9150.940430,140682110000,0.0,0.0
2020-02-01 00:00:00-05:00,9190.719727,9838.370117,6631.419922,8889.549805,230378220000,0.0,0.0
2020-05-01 00:00:00-04:00,8681.290039,10839.929688,8537.830078,10745.269531,288514270000,0.0,0.0
2020-08-01 00:00:00-04:00,10848.639648,12074.059570,10519.490234,10911.589844,239780450000,0.0,0.0
2020-11-01 00:00:00-04:00,11010.450195,13728.980469,10830.950195,13070.690430,343714490000,0.0,0.0
2021-02-01 00:00:00-05:00,13226.179688,14211.570312,12397.049805,13962.679688,368719710000,0.0,0.0
2021-05-01 00:00:00-04:00,14031.769531,14863.650391,13002.540039,14672.679688,286500970000,0.0,0.0
2021-08-01 00:00:00-04:00,14758.599609,15504.120117,14181.690430,15498.389648,282850600000,0.0,0.0
2021-11-01 00:00:00-04:00,15541.259766,16212.230469,13094.650391,14239.879883,313686140000,0.0,0.0
2022-02-01 00:00:00-05:00,14277.429688,14646.900391,12315.740234,12334.639648,317205640000,0.0,0.0
2022-05-01 00:00:00-04:00,12331.690430,12985.009766,10565.139648,12390.690430,319635290000,0.0,0.0
2022-08-01 00:00:00-04:00,12317.959961,13181.089844,10088.830078,10988.150391,307548590000,0.0,0.0
2022-11-01 00:00:00-04:00,11154.740234,11691.889648,10207.469727,11584.549805,308312720000,0.0,0.0
2023-02-01 00:00:00-05:00,11573.139648,12269.549805,10982.799805,12226.580078,310477130000,0.0,0.0
2023-05-01 00:00:00-04:00,12210.049805,14446.549805,11925.370117,14346.019531,305924060000,0.0,0.0
2023-08-01 00:00:00-04:00,14274.929688,14309.209961,12963.160156,13201.276367,199827099000,0.0,0.0

In [33]:
sp500= yf.Ticker('^GSPC')

sp_his = nasdaq.history(period="max", interval="3mo", start='1985-01-01')

# history(self, period="1mo", interval="1d",
#             start=None, end=None, prepost=False, actions=True,
#             auto_adjust=True, back_adjust=False,
#             proxy=None, rounding=False, tz=None, timeout=None, **kwargs):

display(sp_his.head(20))
display(sp_his.tail(20))

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1985-01-01 00:00:00-05:00,247.100006,289.299988,245.800003,279.200012,5136220000,0.0,0.0
1985-04-01 00:00:00-05:00,279.500000,296.200012,276.200012,296.200012,4762300000,0.0,0.0
1985-07-01 00:00:00-04:00,295.899994,307.899994,279.500000,280.299988,4740430000,0.0,0.0
1985-10-01 00:00:00-04:00,280.600006,325.600006,276.600006,324.899994,5911240000,0.0,0.0
1986-01-01 00:00:00-05:00,325.000000,374.700012,322.100006,374.700012,7352250000,0.0,0.0
1986-04-01 00:00:00-05:00,375.799988,405.500000,368.000000,405.500000,7796320000,0.0,0.0
1986-07-01 00:00:00-04:00,407.000000,411.299988,342.299988,350.700012,6715760000,0.0,0.0
1986-10-01 00:00:00-04:00,352.500000,364.700012,347.000000,348.799988,6836550000,0.0,0.0
1987-01-01 00:00:00-05:00,351.299988,440.000000,348.799988,430.100006,9519320000,0.0,0.0
1987-04-01 00:00:00-05:00,426.299988,439.200012,404.500000,424.700012,9085600000,0.0,0.0
1987-07-01 00:00:00-04:00,424.500000,456.299988,423.700012,444.299988,9608400000,0.0,0.0
1987-10-01 00:00:00-04:00,446.200012,453.700012,288.500000,330.500000,9515260000,0.0,0.0
1988-01-01 00:00:00-05:00,335.100006,382.600006,329.000000,374.600006,8112990000,0.0,0.0
1988-04-01 00:00:00-05:00,373.700012,394.799988,362.399994,394.700012,8065620000,0.0,0.0
1988-07-01 00:00:00-04:00,394.200012,397.500000,372.200012,387.700012,7544730000,0.0,0.0
1988-10-01 00:00:00-04:00,384.700012,388.899994,364.000000,381.399994,7269120000,0.0,0.0
1989-01-01 00:00:00-05:00,378.899994,410.100006,376.899994,406.700012,8112730000,0.0,0.0
1989-04-01 00:00:00-05:00,407.000000,454.600006,406.500000,435.299988,8751450000,0.0,0.0
1989-07-01 00:00:00-04:00,434.500000,474.600006,434.399994,472.899994,8179520000,0.0,0.0
1989-10-01 00:00:00-04:00,472.799988,487.500000,431.799988,454.799988,8470390000,0.0,0.0

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-10-01 00:00:00-04:00,8091.500000,8107.379883,6190.169922,6635.279785,160016490000,0.0,0.0
2019-01-01 00:00:00-05:00,6506.910156,7850.109863,6457.129883,7729.319824,141793950000,0.0,0.0
2019-04-01 00:00:00-04:00,7800.240234,8176.080078,7292.220215,8006.240234,136197430000,0.0,0.0
2019-07-01 00:00:00-04:00,8145.850098,8339.639648,7662.899902,7999.339844,130890150000,0.0,0.0
2019-10-01 00:00:00-04:00,8026.830078,9052.000000,7700.000000,8972.599609,132190880000,0.0,0.0
2020-01-01 00:00:00-05:00,9039.459961,9838.370117,6631.419922,7700.100098,203901310000,0.0,0.0
2020-04-01 00:00:00-04:00,7459.500000,10221.849609,7288.109863,10058.769531,272631660000,0.0,0.0
2020-07-01 00:00:00-04:00,10063.669922,12074.059570,10048.040039,11167.509766,256547330000,0.0,0.0
2020-10-01 00:00:00-04:00,11291.990234,12973.330078,10822.570312,12888.280273,282205040000,0.0,0.0
2021-01-01 00:00:00-05:00,12958.519531,14175.120117,12397.049805,13246.870117,416925090000,0.0,0.0
2021-04-01 00:00:00-04:00,13414.320312,14535.969727,13002.540039,14503.950195,289383910000,0.0,0.0
2021-07-01 00:00:00-04:00,14493.690430,15403.440430,14178.660156,14448.580078,272067110000,0.0,0.0
2021-10-01 00:00:00-04:00,14494.929688,16212.230469,14181.690430,15644.969727,313071340000,0.0,0.0
2022-01-01 00:00:00-05:00,15732.500000,15852.139648,12555.349609,14220.519531,320731450000,0.0,0.0
2022-04-01 00:00:00-04:00,14269.530273,14534.379883,10565.139648,11028.740234,321922580000,0.0,0.0
2022-07-01 00:00:00-04:00,11006.830078,13181.089844,10572.330078,10575.620117,303549930000,0.0,0.0
2022-10-01 00:00:00-04:00,10659.009766,11571.639648,10088.830078,10466.480469,299872180000,0.0,0.0
2023-01-01 00:00:00-05:00,10562.059570,12269.549805,10265.040039,12221.910156,326700530000,0.0,0.0
2023-04-01 00:00:00-04:00,12146.089844,13864.059570,11798.769531,13787.919922,299450140000,0.0,0.0
2023-07-01 00:00:00-04:00,13798.700195,14446.549805,12963.160156,13201.276367,296810539000,0.0,0.0